<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoGrupoHospital" >
        <activity
            android:name=".MenuProfissionalActivity"
            android:exported="false" />
        <activity
            android:name=".ListaProfissionaisActivity"
            android:exported="false" />
        <activity
            android:name=".SalasActivity"
            android:exported="false" />
        <activity
            android:name=".RegistoDoadorActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenInicioActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GestaoSalaActivity"
            android:exported="false" />
        <activity
            android:name=".DoacaoActivity"
            android:exported="false" />
        <activity
            android:name=".DoadoresDisponiveisActivity"
            android:exported="false" />
        <activity
            android:name=".BancoDeSangueActivity"
            android:exported="false" />
        <activity
            android:name=".EstatisticasActivity"
            android:exported="false" />
        <activity
            android:name=".MenuInicialActivity"
            android:exported="false" />
        <activity
            android:name=".HistoricoInternamentoActivity"
            android:exported="false" />
        <activity
            android:name=".GestaoInternamentoActivity"
            android:exported="false" />
        <activity
            android:name=".MenuInternamentoActivity"
            android:exported="false" />
        <activity
            android:name=".MenuConsultasActivity"
            android:exported="false" />
        <activity
            android:name=".EditarProfissionaisActivity"
            android:exported="false" />
        <activity
            android:name=".RegistarProfissionaisActivity"
            android:exported="false" />
        <activity
            android:name=".GestaoPessoasActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".GestaoPacienteEditarActivity"
            android:exported="false" />
        <activity
            android:name=".ListarPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".RegistarPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".TelaGestaoPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>